.sidebar
    background-image: url("../../assets/img/sidebar.svg")
    background-repeat: no-repeat
    background-size: contain
    color: white
    .div_sidebar
        display: flex
        justify-content: flex-start
        align-items: center
        gap: 1rem
        padding: 1rem
        .number
            border: 1px solid white
            width: 2rem
            height: 2rem
            display: grid
            place-content: center
            border-radius: 50%
            cursor: pointer
            &.actif
                background-color: hsl(206, 94%, 87%) !important
                color: black !important
        .nom
            h3
                margin-top: 0
            p
                margin-bottom: 0