.info
    .input
        margin: 1rem
        display: flex
        justify-content: center
        align-items: flex-start
        flex-direction: column
        label
            color: hsl(213, 96%, 18%)
        input
            border: 1px solid grey
            border-radius: 5px
            &::placeholder
                color: grey
            &:focus
                border: 1px solid hsl(213, 96%, 18%)