.summary
    .change
        color: hsl(231,11%,63%)
        border-bottom: 1px solid hsl(231,11%,63%)
        width: fit-content
    .div_summary
        background-color: hsl(217, 100%, 97%)
        width: 100%
        border-radius: 10px
        padding: 2rem
    .plans
        display: flex
        justify-content: flex-start
        align-items: flex-start
        flex-direction: column
        width: 100%
        color: hsl(213, 96%, 18%)
        font-weight: bold
    .div_plan
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
    .summary_options
        width: 100%
        border-top: 1px solid hsl(231,11%,63%)
    .summary_option
        display: flex
        justify-content: space-between
        align-items: center
        p:first-of-type
            color: hsl(231,11%,63%)      
        p:last-of-type
            color: hsl(213, 96%, 18%)
            font-weight: bold
    .total
        display: flex
        justify-content: space-between
        align-items: center  
        width: 100%
        p:first-of-type
            color: hsl(231,11%,63%)      
        p:last-of-type
            color: hsl(243, 100%, 62%)
            font-weight: bold